*{
  box-sizing: border-box;
}

html{
  font-family: monospace;
  background: #25181d;
  color: #adffab;
  font-size: 16px;
}

article, header {
  padding: 1rem;
}

h1,h2,h3,h4,h5 {
  margin-top: 2rem;
}

a{
  color: white;
}

img.logo{
  width: 80px;
  height: 80px;
}

label {
  padding: .5rem;
  font-weight: 600;
}

span {
  padding: 1rem;
  margin: .5rem;
  border: 1px solid #112b11;
}

fieldset span{
  padding: unset;
  margin: unset;
  border: none;
}

input {
  background: transparent;
  color: white;
  border: none;
}

fieldset{
  border: none;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: circle;
}

#skills {
  display: grid;
  grid-template-columns: auto auto auto;
}

#links {
  position: absolute;
  top: 0px;
  right: 0px;
}

#work-history{
  display: grid;
  grid-template-columns: auto auto;
}

#references {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 1080px){
  #skills{
    grid-template-columns: auto auto;
  }
  #work-history{
    grid-template-columns: auto;
  }
  
  #references{
    grid-template-columns: auto auto;
  }
  
}
