:root{
  --cv-color: black;
  --cv-color-secondary: gray;

  --cv-background-color: white;
  --cv-background-color-secondary: wheat;

  --cv-font-size: 20px;
  --cv-font-family: monospace;

  --cv-border-color-secondary: lightcyan;
}

html[theme='night']{
  --cv-color: white;
  --cv-color-secondary: wheat;

  --cv-background-color: black;
  --cv-background-color-secondary: black;

  --cv-border-color-secondary: darkcyan;
}

html{
  background: var(--cv-background-color);
  color: var(--cv-color);
  font-family: var(--cv-font-family);
  font-size: var(--cv-font-size);
  line-height: 2rem;
}

#work-history{
  display: flex;
  flex-direction: row; 
  gap: 1rem;
  flex-wrap: wrap;
}

img.logo{
  width: 80px;
  height: 80px;
}

ul{
  list-style:none;
}

cv-card {
  display: block;
}

