html{
  background: black;
  color: white;
  font-family: monospace;
  font-size: 20px;
  line-height: 2rem;
}

table{
  width: 100%;
  margin: auto;
  text-align: left;
  border-bottom: 1px solid darkcyan;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

th{
  font-size: 25px;
  font-weight: 800;
}

td, th{
  white-space: nowrap;
  padding: 1rem;
}

a{
  text-decoration: none;
  color: lightblue;
}
